.contents {
    margin: 50px 0px;
}

.title {
    font-size: 2em;
    font-family: 'Righteous', cursive;
    padding-bottom: 30px;
}

.search {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.search>div {
    padding: 10px;
}

/* table */

.item-table {
    font-size: 12px;
    border: solid;
    width: 1000px;
    margin: 30px auto 30px auto;

}

.item-table img {
    max-width: 100px;
    max-height: 100px;
    margin: 10px 20px;
}

.item-table td {
    border: solid 0.5px #bbbbbb;
    padding: 5px 10px;
    font-weight: bold;
}

.item-table img {
    max-width: 100px;
    max-height: 100px;
}

.item-table input[type="text"] {
    width: 50px;
    /* height: 35px; */
    text-align: center;
    margin: 5px 10px;
}

.item-table .regImg {
    width: 75px;
    height: 75px;
    border: solid 1px;
    margin: 20px 10px;
}

.item-table .input-title {
    width: 150px;
}

.item-table tbody tr:last-child>td:last-child {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.9em;
}

.item-table tbody tr:last-child>td:last-child select {
    display: flex;
    width: 60px;
}

.pager {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.pager ul {
    display: flex;
    justify-content: center;
}

.pager ul>li {
    padding: 15px;
}

.fixed {
    background-color: #bbbbbb;
}

.line {
    border-left: solid 1px black;
}

tbody>tr:nth-child(2n-1) {
    border-top: solid;
}

tbody>tr:nth-child(2n) {
    border-top: solid 1px black;
}