<!-- 200524 detail.html->edit.html -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../../css/reset.css">
    <link rel="stylesheet" href="../../../css/board/review/layout.css">
    <link rel="stylesheet" href="../../../css/board/review/review-edit.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css" />
    <!-- <link
	href="https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&display=swap"
	rel="stylesheet"> -->
</head>

<body>

    <!-- ************** header ************** -->
    <header class="rm-header">
        <h1 class="d-none">라면모아 헤더</h1>
        <ul class="rm-menu-top">
            <li><a href="">라면 모아</a></li>
            <li><a href="">로그인</a></li>
            <li><a href="">회원가입</a></li>
            <li><a href="">고객센터</a></li>
        </ul>
        <ul class="rm-menu-bottom">
            <li><a href="">#공지사항</a></li>
            <li><a href="">라면 소개</a></li>
            <li><a href="">후기 게시판</a></li>
            <li><a href="">레시피 공유</a></li>
            <li><a href="">라면 토론장</a></li>
        </ul>
    </header>
    <!-- ************** 게시판  main ************** -->
    <main id="main">

        <section class="edit">

            <h1 class="d-none">수정</h1>

            <div class="mini-title-box">
                <span class="mini-title">후기게시판 전체목록</span>
            </div>

            <form action="reg" method="POST" class="sub-link-search-form">

                <div class="title-box detail-margin-top">
                    <!-- <div class="title fnt_jua">라면은 정말맛있어 정말맛있어요!!</div> -->
                    <input class="title" name="title" type="text" placeholder="제목을 입력하세요." value="맛있게 먹자구요" required>
                </div>

                <fieldset class="perface-field detail-margin-top">
                    <legend class="d-none">서브링크 검색필드</legend>
                    <label class="" for="">제조사-라면</label> <select name="item" class="select">
                        <option value="오뚜기-진라면">오뚜기-진라면</option>
                        <option value="오뚜기-굴진짬뽕">오뚜기-굴진짬뽕</option>
                        <option value="삼양-간짬뽕">삼양-간짬뽕</option>
                    </select>


                </fieldset>

                <fieldset class="grade-field detail-margin-top">
                    <legend class="d-none">평점필드</legend>
                    <label class="" for="">평점</label> <select name="star-grade" class="select">
                        <option value="1">집에 있어도 안먹음 ★☆☆☆☆</option>
                        <option value="2">내 돈주고 먹지는 않음 ★★☆☆☆</option>
                        <option value="3" selected>내 돈주고 사먹을만 함 ★★★☆☆</option>
                        <option value="4">맛있어서 가끔 생각남 ★★★★☆</option>
                        <option value="5">집에 쌓아놓고 먹고싶음 ★★★★★</option>
                    </select>

                </fieldset>

                <div class="meta-box detail-margin-top">
                    <div class="meta-info">
                        <div class="regdate">2020-05-20 13:10</div>
                        <div class="writer-name">나야나</div>
                    </div>
                    <div class="meta-info">
                        <div class="hit">조회수 10,000</div>
                        <div class="comment">댓글 2350</div>
                        <div class="love">♥ 1000</div>
                    </div>
                </div>

                <!-- <div class="title-box detail-margin-top">
                <input class="title-text" type="text" placeholder="제목" value="제목이랍니다" readonly required>
            </div> -->

                <div class="content-box">
                    <textarea class="content" placeholder="내용을 입력하세요." name="content" required>진라면맛있께!</textarea>
                </div>

                <!-- <form action="" method="POST">
				<div class="btn-box">
					<input type="button" class="btn-text love-btn" value="공감♡"></input>
				</div>
			</form> -->

                <div class="btn-box">
                    <div class="btn-box_box">
                        <input type="hidden" name="id" value="${n.id }" /> <input class="btn-text btn-save btn-hover"
                            type="submit" value="저장" />
                        <a class="btn-text btn-cancel btn-hover" href="detail?id=${n.id}">취소</a>
                    </div>
                </div>

            </form>

        </section>



        <!-- *************************************** -->

    </main>

</body>

</html>


<!-- 200524 edit.jsp->edit.html -->

<!-- <!DOCTYPE html>
<html lang="en">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Document</title>
<link rel="stylesheet" href="../../../css/reset.css">
<link rel="stylesheet" href="../../../css/board/review/layout.css">
<link rel="stylesheet" href="../../../css/board/review/review-edit.css">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css" />
<link
	href="https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&display=swap"
	rel="stylesheet">
</head>

<body> -->

<!-- ************** header ************** -->
<!-- <header class="rm-header">
		<h1 class="d-none">라면모아 헤더</h1>
		<ul class="rm-menu-top">
			<li><a href="">라면 모아</a></li>
			<li><a href="">로그인</a></li>
			<li><a href="">회원가입</a></li>
			<li><a href="">고객센터</a></li>
		</ul>
		<ul class="rm-menu-bottom">
			<li><a href="">#공지사항</a></li>
			<li><a href="">라면 소개</a></li>
			<li><a href="">후기 게시판</a></li>
			<li><a href="">레시피 공유</a></li>
			<li><a href="">라면 토론장</a></li>
		</ul>
	</header> -->
<!-- ************** 게시판  main ************** -->
<!-- <main id="main">

		<section class="edit">
			<h1 class="d-none">수정</h1> -->

<!-- <%--       <div class="detail-title fnt_jua">${r.title }</div> --%> -->
<!-- <form action="edit" method="POST" class="edit-form">

				<fieldset class="perface-field">
					<legend class="d-none">서브링크 검색필드</legend>
					<label class="" for="">제조사-라면</label> <select name="item"
						class="select">
						<option value="오뚜기-진라면">오뚜기-진라면</option>
						<option value="오뚜기-굴진짬뽕">오뚜기-굴진짬뽕</option>
						<option value="삼양-간짬뽕">삼양-간짬뽕</option>
					</select>


				</fieldset>

				<fieldset class="grade-field">
					<legend class="d-none">평점필드</legend>
					<label class="" for="">평점</label> <select name="edit-margin-top star-grade"
						class="select">
						<option value="1">집에 있어도 안먹음 ★☆☆☆☆</option>
						<option value="2">내 돈주고 먹지는 않음 ★★☆☆☆</option>
						<option value="3" selected>내 돈주고 사먹을만 함 ★★★☆☆</option>
						<option value="4">맛있어서 가끔 생각남 ★★★★☆</option>
						<option value="5">집에 쌓아놓고 먹고싶음 ★★★★★</option>
					</select>

				</fieldset>

				<div class="title-box edit-margin-top">
					<input class="title" type="text" placeholder="제목"
						value="${r.title }" required>
				</div>

				<div class="content-box edit-margin-top">
					<textarea class="content" placeholder="내용을 입력하세요. " name="content"
						required>${r.content }</textarea>
				</div> -->

<!-- <%-- 
				<div class="btn-box">
					<div class="btn-box_box">
						<a class="btn-text btn-cancel" href="list">목록</a> <a
							class="btn-text btn-default" href="edit?id=${r.id }">수정</a> <a
							class="btn-text btn-default" href="del">삭제</a>
					</div>
				</div> --%> -->
<!-- <div class="margin-top text-align-center">
                    <input type="hidden" name="id" value="${r.id }" /> <input
                        class="btn-text btn-default" type="submit" value="저장" /> <a
                        class="btn-text btn-cancel" href="detail?id=${r.id }">취소</a>
                </div>
			</form>
		</section> -->



<!-- *************************************** -->

<!-- </main>

</body>

</html> -->

<!-- <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css-temp/edit-review-style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css" />
    <link href="https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
</head>

<body>

    <!-- ************** header ************** -->
<!-- <header class="rm-header">
        <h1 class="d-none">라면모아 헤더</h1>
        <ul class="rm-menu-top">
            <li><a href="">라면 모아</a></li>
            <li><a href="">로그인</a></li>
            <li><a href="">회원가입</a></li>
            <li><a href="">고객센터</a></li>
        </ul>
        <ul class="rm-menu-bottom">
            <li><a href="">#공지사항</a></li>
            <li><a href="">라면 소개</a></li>
            <li><a href="">후기 게시판</a></li>
            <li><a href="">레시피 공유</a></li>
            <li><a href="">라면 토론장</a></li>
        </ul>
    </header> -->
<!-- ************** 게시판  main ************** -->
<!-- <main id="main">

        <nav class="sub-header">
            <h1 class="d-none">서브 헤더</h1>
        	<form action="edit" method="post" >
                <div class="margin-top first">
                    <h3 class="d-none">공지사항 수정</h3>
                    <table class="table">
                        <tbody>
                            <tr>
                                <th>제목</th>
                                <td class="text-align-left text-indent text-strong text-orange"
                                    colspan="3"><input type="text" name="title"
                                    value="${n.title}" /></td>
                            </tr>
                            <tr>
                                <th>작성일</th>
                                <td class="text-align-left text-indent" colspan="3">${n.regdate}
                                </td>
                            </tr>
                            <tr>
                                <th>작성자</th>
                                <td>${n.writerId }</td>
                                <th>조회수</th>
                                <td>${n.hit}</td>
                            </tr> -->
<!-- <tr>
                             <th>첨부파일</th>
                             <td colspan="3"><input type="file" name="file" /> </td>
                          </tr> -->
<!-- <tr class="content">
                                <td colspan="4"><textarea class="content" name="content">
                                ${n.content }
                                </textarea></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
        
                <div class="margin-top text-align-center">
                    <input type="hidden" name="id" value="${n.id }" /> <input
                        class="btn-text btn-default" type="submit" value="저장" /> <a
                        class="btn-text btn-cancel" href="../../notice/12">취소</a>
                </div>
            </form>
           
        </nav> -->

<!-- *************************************** -->




<!-- </main>

</body>

</html> -->